langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
scikit-learn
langchain-huggingface
python-dotenv
faiss-cpu
chromadb
streamlit
langchain_groq
pydantic
langchain-google-genai
google-genai
grandalf
fastapi
langserve